body{
    font-family: 'Roboto';
    display: flex;
    justify-content: center;
}
main{
    width: 375px;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    position: relative;
}
*{
    box-sizing: border-box;
}
/* TELA DE ENTRADA */
.tela-entrada{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}
.escondido{
    display: none;
}
.logo-entrada{
    width: 130px;
    height: 92px;
    margin-top: 150px;
    margin-bottom: 94px;
}
button{
    margin-top: 15px;
}
input{
    text-align: center;
    height: 54px;
    width: 260px;
}

/* TELA DE PARTICIPANTES */
.selected{
    background-color: blue;
}
.tela-escura{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(0, 0, 0, 0.6);
}
.participantes{
    width: 70%;
    height: 100%; 
    background-color: white;
    position:absolute;
    right: 0;
    z-index: 3;
    overflow-y: scroll;
}
.titulo{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
}

.participantes span{
    display: flex;
    align-items: center;
    height:40px;
}
.icon{
    font-size:25px;
    margin-left: 17px;
}
.opçao{
    font-weight: 400;
    font-size: 16px;
    margin-left: 8px;
}
span{
    overflow-x: hidden;
}
.caixa{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.caixa :hover{
    cursor: pointer;
}
.check{
    color:#28BB25;
    font-size: 20px;
    margin-right:13px;
}

/* HEADER */
header{
    width: 375px;
    padding-top: 16px;
    padding-bottom: 11px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top:0;
    z-index: 0.5;
}
.logo{
    margin-left: 22px;
}
.contatos{
    font-size: 40px;
    margin-right: 22.5px;
    margin-top: 5px;
}


/* CHAT */
.chat{
    height: 473px;
    background-color: #f5f5f5;
    padding-top: 26px;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 72px;
    margin-top: 80px;
    overflow-y: scroll;
}
.mensagem{
    width: 100%;
    background: #ffffff;
    border-radius: 2px;
    padding-left: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow-x: hidden;
}
.entrou-saiu{
    width: 100%;
    background: #DCDCDC;
    border-radius: 2px;
    padding-left: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow-x: hidden;
}
.mensagem-reservada{
    width: 100%;
    background: #FFDEDE;
    border-radius: 2px;
    padding-left: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow-x:hidden;
}
strong{
    color:#000000;
    font-weight: 700;
}
.time{
   color:#AAAAAA;
}

/* FOOTER */
footer{
    width: 375px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 26px;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    bottom:0;
    background-color: #ffffff;
    z-index: 0.5;
}
.envia-mensagem{
    margin-right: 18px;
}
textarea{
    width: 300px;
    border: none;
    margin-left: 17px;
    font-weight: 400;
    font-size: 18px;
    color:black;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
}